@charset "UTF-8";

#header {
  align-items: center;  /* ロゴと日付の縦位置そろえる */
  /*gap: 40px;  ロゴと日付の間に余白 */
  position: fixed;/* ウィンドウを基準に画面に固定 */
	top: 0;
	left: 0;
	width: 100%;
  
	background-color: rgb(255,127,0);
	color: #fff;
  padding: 30px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  display: flex; /* 中の要素を横並びにする */
  z-index: 1000; /* 他の要素の上に表示 */
  height: 130px; /* ロゴの高さに合わせて調整 */
}

/*モバイル対応*/
@media(max-width: 767px){
	
}