@charset "UTF-8";

@font-face {
  font-family: 'けいふぉんと';
  src: url('../fonts/Keifont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* グローバル設定 */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "けいふぉんと";
  color: #003366;
  background-color: rgba(255,229,204,.3);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

label {
  position: relative;
  display: block;
}

.login_input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin: 5px 0;
  font-size: 17px;
  color: #5e5e5e;
  border-radius: 6px;
  border: none;
  background: rgba(255,229,204,.7);
  transition: all 0.2s ease-in-out;
  display: block;
}

#kaji_logo {
  width: 20%;
  height: auto;
  margin-top: 50px;
  margin-left: 155px;
}

#kajimieru {
  width: 50%;
  height: auto;
  margin-top: 0px;
  margin-left: 90px;
}

#container {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 30px;
  background: #fefefe;
  padding: 0 10px;
}

#login_title {
  padding-top: 30px;
  color: #FF7F00;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0 #A6CAEC, -1px 1px 0 #A6CAEC, 1px -1px 0 #A6CAEC, -1px -1px 0 #A6CAEC;
  text-align: center;
  margin: 0;
}

#login_content {
  margin: 20px auto;
  width: 95%;
}

/* 共通エラーメッセージ */
.message {
  color: red;
  font-size: 1rem;
  /*min-height: 1.5rem;
  visibility: hidden;
  display: block;*/
}

.message.visible {
  visibility: visible;
}

#login_btn {
  margin: auto;
  text-align: center;
  background: #FF7F00;
  border-radius: 50px;
  border-color: #A6CAEC;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 260px;
  padding: 10px 25px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

/*#login_btn:hover {
  background: #e56e00;
  transform: scale(1.03);
}*/

#no_id {
  all: unset;
  cursor: pointer;
  color: #FF7F00;
  font-size: 1rem;
  /*display: block;*/
  text-align: center;
}
#no_account {
    all: unset;
  cursor: pointer;
  color: #FF7F00;
  font-size: 1rem;
  /*display: block;*/
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#togglePasswordIcon {
  position: absolute;
  margin-left: 265px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* モバイル対応 */
@media screen and (max-width: 768px) {
  #kaji_logo {
    width: 20%;
    margin: 30px auto 0 auto;
    display: block;
  }

  #kajimieru {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

 #togglePasswordIcon {
    margin-left: 260px;
    top: 70%;
  }
  #no_id {
    margin-left: 60px;
  }

  #no_account {
    margin-left: 75px;
  }
}