@charset "UTF-8";
html {
    font-size: 16px;
    font-family: "けいふぉんと";
    background-color: rgba(255,229,204,.3);
}

.login_input {
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #5e5e5e;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(255,229,204,.7);
    transition: all 0.2s ease-in-out;
}

.login_input:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(255,229,204,.18);
}

#kaji_logo {
    width: 20%;
    height: auto;
    margin-top: 200px;
    margin-left: 380px;
}

#kajimieru {
    width: 50%;
    height: auto;
    margin-top: 0px;
    margin-left: 240px;
}

#container {
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 700px;
    border: #5e5e5e;
    border-radius: 6px;
    background: #fefefe;
}

#login_title {
    text-align: center;
    padding: 50px;
    color: #FF7F00;
    font-size: 32px;
    text-shadow:1px 1px 0 #A6CAEC,-1px 1px 0 #A6CAEC,1px -1px 0 #A6CAEC,-1px -1px 0 #A6CAEC;
}

#login_content {
    margin-left: 120px;
}