@charset "UTF-8";

@font-face {
  font-family: 'けいふぉんと';
  src: url('../fonts/Keifont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* グローバル設定 */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "けいふぉんと";
  color: #003366;
  background-color: rgba(255,229,204,.3);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#back_img {
  width: 10%;
  height: auto;
  position: absolute;  /* 追加 */
  left: 20px;  /* 追加 */
  top: 7.5%;  /* 追加 */
  transform: translateY(-50%);  /* 追加 */
}

h2 {
  padding-top: 30px ;
  padding-bottom: 10px;
  color: #FF7F00;
  font-size: 2.5rem;
  text-shadow: 1px 1px 0 #A6CAEC, -1px 1px 0 #A6CAEC, 1px -1px 0 #A6CAEC, -1px -1px 0 #A6CAEC;
  text-align: center;
  margin: 0;
  font-weight: 100;
}


#bar {
  width: 100%;
  overflow: hidden;
}

#bar_img {
  height: 20px;
  width: 100%;
  display: block;
  object-fit: cover;
}

#noti_container {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 30px;
  background: #fefefe;
  padding: 0 10px;
}
.noti h3{
	font-size: 2rem;
	text-shadow: 1px 1px 0 #A6CAEC, -1px 1px 0 #A6CAEC, 1px -1px 0 #A6CAEC, -1px -1px 0 #A6CAEC;
}

.noti p{
	font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .noti h3 {
    font-size: 1.5rem;
  }

  .noti p {
    font-size: 1rem;
  }

  #back_img {
    width: 10%;
    top: 7%;
  }

  #noti_container {
    width: 95%;
    padding: 10px;
  }
}
